body {
  background-color: rgb(252, 238, 221);
}
* {
  text-decoration: none;
}
header{
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(252, 238, 221);
  height: 6vh;
}
.navbar {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
 
 
}
.navdiv {
  display: flex;
  justify-content: space-between;
}
.logo a {
  font-size: 20px;
  font-weight: 400;
  color: rgb(102, 58, 58);
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: rgb(102, 58, 58);
  font-size: 13px;
  font-weight: bold;
  margin-right: 25px;
}

.gverdi{display: flex;
    width: 100%;
    height: 100%;
}
.knuti img {
    width: 100%;
    height: 100%;
}

.info{
    background-color:#E0BE9A ;
    padding: 50px;
    width: 100%;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #222;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #222;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 14px 32px;
  background-color: #e6ff6a;
  color: #1f2d0f;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #96bb3f;}

footer{
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

.foot1 {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  gap: 250px;
  color: #5b4a3a;
}
.Rules a {
  text-decoration: none;
  color: #5b4a3a;
  font-weight: bold;
  font-size: small;
}

.foot2 {
  display: flex;
  gap: 20%;
  margin-left: 20px;
}

.foot,
.foot1,
.foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.subscribe {
  width: 63%;
  background: #d9ff4a;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1085px) {
  .navdiv {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .foot1,
  .foot2 {
    grid-template-columns: 1fr;
  }

  .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot2 .stay-connected {
    grid-row: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 768px){
  
 .gverdi{display: flex;
flex-wrap: wrap;}

.foot{
    grid-template-columns: 1fr;
    display: grid;
  }
 .foot .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot .foot2 .stay-connected {
    grid-row: 3;
    grid-column: 1;
  }
  
  
}