body {
  background-color: rgb(252, 238, 221);
}
* {
  text-decoration: none;
}
header{
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(252, 238, 221);
  height: 6vh;
}
.navbar {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
 
 
}
.navdiv {
  display: flex;
  
  justify-content: space-between;
}
.logo a {
  font-size: 20px;
  font-weight: 400;
  color: rgb(102, 58, 58);
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: rgb(102, 58, 58);
  font-size: 13px;
  font-weight: bold;
  margin-right: 25px;
}
.Contact {
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding-left: 35px;
  padding-top: 25px;
  background-color: rgb(91,77,67);
  color: white;
  font-weight: bold;
  
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.field {
  flex: 1;
}

.field.full {
  margin-bottom: 40px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
}
.form-wrapper {
  margin-top: 20px;
}

input {
  width: 60%;
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  padding: 8px 0;
  font-size: 15px;
  outline: none;
}

input:focus {
  border-bottom-color: #000;
}

button {
  width: 70%;
  background: #d9ff4a;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.page{
    display: flex;
    max-width: 100%;
    height: 100%;
    
    
    
}

