body{
    background-color: rgb(252, 238, 221);
}
header{
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(252, 238, 221);
  height: 6vh;
}
* {
  text-decoration: none;
}
.navbar{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{ 
    font-size: 20px;
    font-weight: 400;
    color: rgb(102, 58, 58);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: rgb(102, 58, 58);
    font-size: 13px;
    font-weight: bold;
    margin-right: 25px;
}
.wesebi{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column ;
    height: 100%;
    width: 100%;
}

.satauri{font-size: 40px;
height: 100%;
align-items: center;
text-align: center;

}
.wesebi1{
text-align: center;}
footer{
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

.foot1 {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  gap: 250px;
  color: #5b4a3a;
}
.Rules a {
  text-decoration: none;
  color: #5b4a3a;
  font-weight: bold;
  font-size: small;
}

.foot2 {
  display: flex;
  gap: 20%;
  margin-left: 20px;
}

.foot,
.foot1,
.foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.subscribe {
  width: 63%;
  background: #d9ff4a;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


@media screen and (max-width: 768px){
.foot{
    grid-template-columns: 1fr;
    display: grid;
  }
 .foot .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot .foot2 .stay-connected {
    grid-row: 3;
    grid-column: 1;
  }

@media screen and (max-width: 1085px) {
  .navdiv {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .foot1,
  .foot2 {
    grid-template-columns: 1fr;
  }

  .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot2 .stay-connected {
    grid-row: 1;
    grid-column: 1;
  }
}



}
