body{
    background-color: rgb(252, 238, 221);
}

.navbar{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{ 
    font-size: 20px;
    font-weight: 400;
    color: rgb(102, 58, 58);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: rgb(102, 58, 58);
    font-size: 13px;
    font-weight: bold;
    margin-right: 25px;
}