body {
  background-color: rgb(252, 238, 221);
}
* {
  text-decoration: none;
}
header{
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(252, 238, 221);
  height: 6vh;
}
.navbar {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
 
 
}
.navdiv {
  display: flex;
  
  justify-content: space-between;
}
.logo a {
  font-size: 20px;
  font-weight: 400;
  color: rgb(102, 58, 58);
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: rgb(102, 58, 58);
  font-size: 13px;
  font-weight: bold;
  margin-right: 25px;
}
.startpage {
  display: grid;
  width: 1200px;
  width: 100%;
  height: 80vh;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  font-size: 25px;
}
path  {
    fill: #E0BE9A;
    stroke: #5B4D43;
}

.startpage .kata img{

  height: 100%;
  width: 100%;
  
}

.petfood {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f0c184;
  padding-top: 110px;
  padding: 5%;
  color: #5b4a3a;
  font-family: monospace;
  font-weight: bold;
}

.explore button {
  text-decoration: none;
  background-color: #e6ff6a;
  color: #5b4a3a;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: bold;
  border: #333 solid 1px;
  max-width: 30%;
  font-size: 13px;
}

.choice {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  margin: 0px 40px;
}

.products .card {
  height: 100%;
  width: 100%;
}

.products .card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.payment {
  display: block;
  margin: 0 auto;
  width: 140px;
  text-align: center;
  background-color: #e6ff6a;
  height: 35px;
  padding-top: 9px;
  border-radius: 25px;
  border: #333 solid 1px;
  font-weight: bold;
  font-size: 13px;
  color: #333;
}

.rabbit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 40px;
}
.rabbit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.About {
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #5b4a3a;
}

.animacia img {
  max-width: 35px;
  max-height: 35px;
}
.animacia {
  display: flex;
  grid-template-columns: 1fr;
  align-items: center;
  color: #5b4a3a;
  font-size: 30px;
  font-weight: bold;
  gap: 38px;
  width: 360px;
  height: 55px;
}

.running-line-wrapper {
  width: 100%;
  overflow: hidden;
}

.running-line {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.running-line {
  animation: run 6s linear infinite;
}

@keyframes run {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50vw);
  }
}

.animals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5b4a3a;
  height: 682px;
  background-image: url(./pictures/animals.png);
}

.button {
  background-color: #e6ff6a;
  color: #5b4a3a;
  border-radius: 25px;
  padding-top: 10px;
  width: 150px;
  height: 40px;
  border: #333 solid 1px;
}

.WhyUs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
  padding-left: 38px;
  color: #5b4a3a;
  background-color: rgb(224,190,154);
  
  /* height: 770px;
  width: 800px; */
  height: 100%;
  width: 100%;
  font-size: 24px;
  height: auto;
}
.WhyUs h4 {
  font-size: 25px;
}

.comment {
  background-color: rgb(91,77,67);
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 20px 0px;
}

.recommendations1 {
  background-color: white;
  height: 32%;
  width: 50%;
  padding: 25px;
}

.recommendations2 {
  background-color: white;
 height: 32%;
  width: 50%;
  padding: 25px;
}

.recommendations3 {
  background-color: white;
  height: 32%;
  width: 50%;
  padding: 25px;
}

.cube {
  display: flex;
  
  padding: 0px 5px;
  width: 100%;
  height: 100%;
  /* height: 85vh; */
  
  
}

.Contact {
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding-left: 35px;
  padding-top: 25px;
  background-color: rgb(91,77,67);
  color: white;
  font-weight: bold;
  
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.field {
  flex: 1;
}

.field.full {
  margin-bottom: 40px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
}
.form-wrapper {
  margin-top: 20px;
}

input {
  width: 60%;
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  padding: 8px 0;
  font-size: 15px;
  outline: none;
}

input:focus {
  border-bottom-color: #000;
}

button {
  width: 70%;
  background: #d9ff4a;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sakontakto {
  display: grid;
  grid-template-columns: 1.21fr 1fr;
  width: 100%;
  /* height:50vh; */
  max-height: 100%;
  gap: 7%;
}

.form-wrapper .forma .input{
  grid-template-columns: 1fr;
  display: grid;
}

footer{
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

.foot1 {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  gap: 250px;
  color: #5b4a3a;
}
.Rules a {
  text-decoration: none;
  color: #5b4a3a;
  font-weight: bold;
  font-size: small;
}

.foot2 {
  display: flex;
  gap: 20%;
  margin-left: 20px;
}

.foot,
.foot1,
.foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.subscribe {
  width: 63%;
  background: #d9ff4a;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1085px) {
  .navdiv {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .foot1,
  .foot2 {
    grid-template-columns: 1fr;
  }

  .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot2 .stay-connected {
    grid-row: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 768px){
  
  .startpage {
  display: grid;
  padding: 0px;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  height: 10%;
}
 .products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}


.rabbit{
  display: flex;
  flex-wrap: wrap;
}

.cube{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0%;
}

.sakontakto{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0%;
}

.form-wrapper .forma {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5%;
  align-items: center;

}

.foot{
    grid-template-columns: 1fr;
    display: grid;
  }
 .foot .foot2 .rules {
    grid-row: 2;
    grid-column: 1;
  }

  .foot .foot2 .stay-connected {
    grid-row: 3;
    grid-column: 1;
  }
  
  
}